[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ShiftShareSE"]
	path = ShiftShareSE
	url = https://github.com/kolesarm/shiftsharese
[submodule "dfadjust"]
	path = dfadjust
	url = https://github.com/kolesarm/robust-small-sample-standard-errors
[submodule "ebci"]
	path = ebci
	url = https://github.com/kolesarm/ebci
